@import "variables";
@import "reset";

.main {
  position: relative;
  padding: 200px 0 30px 0;
  background-color: $mainBg;

  /*.main-shading {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: $shading;
  }*/

  .container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    .main__info {
      max-width: 533px;
      .main__info-title {
        @include main-text;
        font-size: 44px;
        margin-bottom: 50px;
        position: relative;
        z-index: 3;
        span {
          @include h1-title;
        }
      }
      .main__info-text {
        @include main-text;
        max-width: 475px;
        margin-bottom: 30px;
      }
    }

    .main__subdivisions {
      max-width: 500px;

      .main__subdivision {
        display: flex;
        align-items: center;
        margin-bottom: 50px;
        cursor: pointer;


        .main__subdivision__img {
          width: 60px;
          height: 60px;
          border: 1px solid $textColor;
          transform: rotate(45deg);
          margin-right: 50px;
          transition: .3s ease all;
          overflow: hidden;
          position: relative;
          flex-shrink: 0;
          img {
            width: 90px;
            position: absolute;
            top: -10px;
            left: -15px;
            transform: rotate(-45deg) scale(1);
            transition: .3s ease all;

          }

        }

        &:nth-of-type(2) {
          img {
            top: -17px;
            left: -15px;
          }
        }

        &:nth-of-type(3) {
          .main__subdivision__img {
            background: white;
          }

          img {
            width: 80px;
            top: -0;
            left: -4px;
          }
        }

        &:nth-of-type(4) {
          .main__subdivision__img {
            background: white;
          }

          img {
            width: 51px;
            top: -10px;
            left: 6px;
          }
        }

        .main__subdivision__description-title {
          @include sub-title;
          color: $textColor;
          transition: .3s ease all;
        }

        .main__subdivision__description-text {
          @include main-text;
          color: $textColor;
          transition: .3s ease all;
        }

        &:hover {
          .main__subdivision__img img {
            transform: rotate(-45deg) scale(1.2);
          }

          .main__subdivision__description-title,
          .main__subdivision__description-text {
            color: $mainColor;
          }

          .main__subdivision__img {
            border-color: $mainColor;
          }
        }
      }

    }
  }

}

.btn {
  @include button;
  margin-top: 50px;
}
@media screen and (max-width: 947px) {
  .main .container {
    flex-direction: column;
    align-items: center;
  }

  .main .container .main__subdivisions {
    max-width: unset;
    width: 100%;
    margin-top: 50px;
    margin-left: 25px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 400px);
    justify-content: space-evenly;
  /*  grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;*/
  }
}

@media screen and (max-width: 716px) {

  .main .wrap-main__info .main__wrap-icons img {
    height: 35px;
  }
  .main .wrap-main__info h1 {
    font-size: 80px;
  }

}

@media screen and (max-width: 520px) {
  .main .wrap-main__info .main__wrap-icons img {
    height: 30px;
  }
}

@media screen and (max-width: 420px) {
  .main{
    padding: 180px 0 40px;
  }
  .main .container .main__info .main__info-title {
    margin-bottom: 30px;
  }
  .main .container .main__info .main__info-text {
    margin-bottom: 20px;
  }
  .main .container .main__subdivisions {
    grid-template-columns: repeat(auto-fill, 320px);
  }
  .btn {
    margin-top: 20px;
    width: 100%;
    backdrop-filter: blur(5px);
  }
}

@media screen and (max-width: 375px) {
  .main .container .main__info .main__info-title {
    font-size: 30px;
    span {
      font-size: 30px;
    }
  }
  .main .container .main__subdivisions {
    grid-template-columns: repeat(auto-fill, 280px);
  }
  .main .container .main__subdivisions .main__subdivision .main__subdivision__img {
    margin-right: 30px;
  }
}

