@import "variables";
@import "reset";

h1 {
  @include h1-title;
  line-height: 1;
}
h2 {
  @include h2-title;
}

h3 {
  @include main-text;
  font-size: 24px;
}
h4 {
  @include main-text;
  font-size: 20px;
  letter-spacing: 1.1px;
}

a {
  text-decoration: none;
}


.container {
  position: relative;
  z-index: 2;
  max-width: 1200px;
  margin: 0 auto;

}

#actionUp {
  border: 1px solid $titleColor;
  cursor: pointer;
  background-color: transparent;
  color: $titleColor;
  font-size: 24px;
  display: flex;
  border-radius: 6px;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 20px;
  bottom: 10px;
  width: 40px;
  height: 40px;
  z-index: 1000;
  opacity: .7;
  transition: all ease .3s;
  &:hover {
    transition: all ease .3s;
    opacity: 1;
  }
}

.button__phone {
  position: fixed;
  z-index: 500;
  right: -112px;
  top: calc(50% - 15px);
  padding: 5px;
  width: 140px;
  height: 30px;
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
  background-color: $titleColor;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: start;
  @include main-text;
  transform: perspective(1px) translateZ(0);
  -webkit-transform: perspective(1px) translateZ(0);
  transition: all ease 0.3s;
  &.effect {
    svg {
      -webkit-animation-name: hvr-buzz;
      animation-name: hvr-buzz;
      -webkit-animation-duration: 0.15s;
      animation-duration: 0.15s;
      -webkit-animation-timing-function: linear;
      animation-timing-function: linear;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
    }
  }
  svg {
    width: 36px;
    height: 36px;
    margin-right: 10px;
    path {
      fill: $textColor;
    }
  }
  &:hover {
    right: 0;
    transition: all ease 0.3s;
  }
}

@-webkit-keyframes hvr-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}

@keyframes hvr-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}

@media screen and (max-width: 1229px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

