@font-face {
  font-family: 'SourceSansPro-Black';
  src: url("../fonts/SourceSansPro-Black.ttf");
}

@font-face {
  font-family: 'SourceSansPro-Bold';
  src: url("../fonts/SourceSansPro-Bold.ttf");
}
@font-face {
  font-family: 'SourceSansPro-Regular';
  src: url("../fonts/SourceSansPro-Regular.ttf");
}
$candidate: rgb(78, 74, 74);
$mainBg: rgb(56, 62, 66);
$firstBg: rgb(110, 110, 116);
$mainColor: rgb(255, 204, 15);
$titleColor: rgb(252, 157, 39);
$textColor: rgb(173, 199, 232);
$mainColor3: rgb(208, 182, 72);
$secondTextColor: rgb(0, 0, 0);
$shading: rgba(0, 0, 0, .7);

$fontTitle: 'SourceSansPro-Bold', san-serif;
$fontSubTitle: 'SourceSansPro-Black', san-serif;
$fontText: 'SourceSansPro-Regular', san-serif;


@mixin container {
  max-width: 1200px;
  margin: 0 auto;
}

@mixin h1-title {
  font-family: $fontTitle;
  font-size: 44px;
  color: $mainColor;
  font-style: normal;
}
@mixin sub-title {
  font-family: $fontSubTitle;
  font-size: 20px;
  line-height: 1.3;
  color: $textColor;
}

@mixin h2-title {
  font-family: $fontTitle;
  font-size: 40px;
  letter-spacing: 1.3px;
  color: $titleColor;
}


@mixin main-text {
  font-family: $fontText;
  font-size: 18px;
  line-height: 1.2;
  font-style: normal;
  font-weight: normal;
  color: white;
}

@mixin button {
  background: transparent;
  border: 1px solid $textColor;
  font-size: 16px;
  color: $textColor;
  cursor: pointer;
  transition: .3s ease All;
  width: 140px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    border: 1px solid $mainColor;
    color: $mainColor;
  }
}


